@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 180px auto;
  grid-template-rows: 40px 40px ;
  grid-template-areas: "logo logo"
                       "search search"
                       "sidebar map";
}

.mapboxgl-popup-content {
  background: #7abe70 !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #7abe70 !important;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #7abe70 !important;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #7abe70 !important;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #7abe70 !important;
    }